<!--  call modal app-agregarclientes 
              infoclientenuevo is the function of type @output define inside agregarclientes.components.ts
              the value return for this funcion will be assigned to function actualizarcliente define inside of
              verclientes.components.ts, this funcion receive an element of type interface cliente
               -->

<!-- <app-ingresarclientes (infoclientenuevo)="actualizarcliente($event)"></app-ingresarclientes> -->

<div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
  
                <div class="table-responsive table-scroll ">
                    <table class="table table-striped mb-0" border="1px solid black">
                      <thead style="background-color: #002d72;">
                         <!--  <h3 style="color: white;">VEHICULOS ESPERANDO POR INSPECCION</h3>
                            <td>
                            <a class="btn btn-danger btn-sm" (click)="showagregarclientes()">Agregar</a>
  
                            @if (mostrar)
                            {                          
                              <app-ingresarclientes (infoclientenuevo)="actualizarcliente($event)"></app-ingresarclientes>
                            }
  
                            </td>  -->
                          <tr>
  
                              
                              <th scope="col">Item</th>                  
                              <th>Nombre</th>
                              <th>Email</th>
                              <th>Tipo de Documento</th>
                              <th>Numero de Documento</th>
                              <th>Rol</th>
                              <th>Acciones</th>
  
                          </tr>        
                      </thead>
                      <tbody>
                        
                          @for (usuario of usuarios; track $index){
                          <tr> 
  
                              
                              
                                  <td scope="col">{{ $index }}</td>
                                  <td>{{usuario.nombre}}</td>                                  
                                  <td>{{usuario.email}}</td>
                                  <td>{{usuario.tipoDocumento}}</td>
                                  <td>{{usuario.numeroDocumento}}</td>
                                  <td>
                                      <select class="form-control" [(ngModel)]="usuario.rol"(change)="actualizarRol(usuario)">
                                        @for (rol of roles; track $index){
                                          <option [value]="rol">{{rol}}</option>
                                        }
                                        
                                      </select>

                                  </td>
                                 <!--  <td>{{usuario.estado}}</td> -->
                                  <!-- btn->button,btn-sm->button small, bg-info-> type button info -->
                                  <td>
                                                    
                                    
                                    <a class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario)">Eliminar</a>
                                    <a class="btn btn-primary btn-sm" (click)="editarUsuarios(usuario._id)">Editar</a> 
                                    <!-- <a class="btn btn-success btn-sm" (click)="actualizarusuario(usuario)">Actualizar</a>
                                    <a class="btn btn-primary btn-sm" (click)="editarcliente(usuario._id)">Editar</a> 
                                     <button type="submit" class="btn btn-danger btn-sm">
                                      <i class="bi bi-trash" (click)="eliminarCliente(cliente.id)"></i>ELiminar
                                    </button>  -->
                                    
                                    
                                    <!--  <button type="submit" class="btn btn-danger btn-sm">
                                          <i class="bi bi-trash" (click)="eliminarCliente(cliente.id)"></i>ELiminar
                                      </button>
  
                                        <button type="submit" class="btn btn-primary btn-sm">
                                          <i class="bi bi-pencil"></i>Editar
                                        </button>
  
                                        <button type="submit" class="btn btn-success btn-sm">
                                          <i class="bi bi-journal-check"></i>Actualizar
                                        </button> -->
                                        
                                  </td>
                                
                                        
                              
                          </tr>
                      }
                        
                      </tbody>
                    </table>
                  </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
