
<div class="slider">
    <p>IOTHIX BY JFCR</p>
    <ul>
        <li>
            <img src="./assets/imagenes/auto1.jpg" alt="auto1">
        </li>
        <li>
            <img src="./assets/imagenes/auto2.jpg" alt="auto2">
        </li>
        <li>
            <img src="./assets/imagenes/auto3.jpg" alt="auto3">
        </li>
        <li>
            <img src="./assets/imagenes/auto4.jpg" alt="auto4">
        </li>
        <li>
            <img src="./assets/imagenes/auto5.jpg" alt="auto5">
        </li>
    </ul>
</div>

